<!DOCTYPE html>
<html data-theme="light" lang="en" class="bg-base-300">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/libs/fontAwesome-6.6.0-pro/css/all.css">
    <script src="../../public/libs/js.cookie.min.js"></script>
    <script src="../../public/libs/handlebars4.7.8.min.js"></script>
    <script src="../../public/libs/jquery-3.7.1.js"></script>
    <script src="../../public/libs/turbo/turbo.es2017-umd.js"></script>
    <script src="../../public/js/utilis.js"></script>
    <script src="../../public/libs/lodash.min.js"></script>
    <title>Inventory Management</title>
</head>

<body>
    <div id="toast-container" class="toast toast-top z-10 p-0 m-4"></div>

    <header>{{>navbar}}</header>

    <main>{{{body}}}</main>

    <script src="../../public/js/main.js"></script>
</body>

</html>